<ion-content class="ion-padding">
  <form (ngSubmit)="emmitValidation()" class="text-start ion-padding was-validated">
    <ion-item class="form-floating mt-0">
      <ion-label position="floating">Seu CPF</ion-label>
      <ion-input type="text" minlength="11" maxlength="14" placeholder="Digite seu CPF" required></ion-input>
      <ion-icon name="credit-card-2-front-fill" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="form-floating mt-3">
      <ion-label position="floating">Seu e-mail</ion-label>
      <ion-input type="email" minlength="8" maxlength="50" placeholder="Digite seu e-mail" required></ion-input>
      <ion-icon name="envelope-fill" slot="start" class="me-1 ms-1"></ion-icon>
    </ion-item>

    <ion-button expand="full" type="submit" class="rounded bg-btn-green mt-3">VERIFICAR</ion-button>
  </form>
</ion-content>
