<ion-header>
  <ion-toolbar class="bg-green no-select-text">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img class="img-logo" src="../../../../assets/images/login/logo-branca2.png" alt="Brasão PMAM">
    <h3 class="fw-bold mt-2 mb-0 pb-0">Cadastre-se</h3>
  </div>

  <!-- Tentei utilizar o Stepper. No entanto, não consegui resolver os erros de compatibilidade e importação das dependências -->
  <!-- <ion-stepper class="mt-0 pt-0 font-regular" #stepper> -->
    <!-- Step 1 -->
    <!-- <ion-step [formGroup]="checkMilitaryForm" [editable]="isStepEditable">
      <ion-label>Verificar Militar</ion-label>
      <check-military (onMilitaryChecked)="setMilitaryFormValue($event)"></check-military>
    </ion-step> -->

    <!-- Step 2 -->
    <!-- <ion-step [formGroup]="createPasswordForm" [editable]="isStepEditable">
      <ion-label>Criar Senha</ion-label>
      <create-password (onPasswordValid)="setPasswordForm($event)"></create-password>
    </ion-step> -->

    <!-- Step 3 -->
    <!-- <ion-step [editable]="isStepEditable">
      <ion-label>Finalizar</ion-label>
      <div>
        <div class="bg-green rounded text-white py-3 px-2">
          <p class="m-0 p-0"> Olá, <span class="fw-bold">1ºTEN ROBERTO MIRANDA</span>, está quase tudo pronto!</p>
          <p class="m-0 p-0">Enviamos para o seu e-mail um link para confirmar seu cadastro.</p>
        </div>
        <ion-button expand="full" class="rounded bg-btn-blue mt-3" routerLink="/login">Ir para o login</ion-button>
        <p class="m-0 p-0 mt-2">Caso não tenha recebido o e-mail <a href="" target="_blank">clique aqui</a> para enviar novamente.</p>
      </div>
    </ion-step> -->
  <!-- </ion-stepper> -->

  <!-- Por enquanto vou manter o que foi feito utilizando o Material Angular -->
  <mat-horizontal-stepper class="mt-0 pt-0 font-regular" stepper linear #stepper>
    <mat-step [stepControl]="checkMilitaryForm" [editable]="isStepEditable">
      <form [formGroup]="checkMilitaryForm">
        <ng-template matStepLabel>Verificar Militar</ng-template>

        <check-military (onMilitaryChecked)="setMilitaryFormValue($event)" ></check-military>

      </form>
    </mat-step>

    <mat-step [stepControl]="createPasswordForm" [editable]="isStepEditable">
      <form [formGroup]="createPasswordForm">
        <ng-template matStepLabel>Criar Senha</ng-template>

        <create-password (onPasswordValid)="setPasswordForm($event)"></create-password>

      </form>
    </mat-step>

    <mat-step [editable]="isStepEditable">
      <ng-template matStepLabel>Finalizar</ng-template>
      <div>
        <div class="bg-green rounded text-white py-3 px-2">
          <p class="m-0 p-0"> Olá, <span class="fw-bold">1ºTEN ROBERTO MIRANDA</span>, está quase tudo pronto!</p>
          <p class="m-0 p-0">Enviamos para o seu e-mail um link para confirmar seu cadastro.</p>
        </div>
        <button class="rounded bg-btn-blue w-100 text-center mt-3 py-2 px-2" routerLink="/login"> Ir para o login </button>
        <p class="m-0 p-0 mt-2">Caso não tenha recebido o e-mail <a href="" target="_blank">clique aqui</a> para enviar novamente.</p>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <div id="copyright-signup" class="font-regular pb-3 pt-3 ion-text-center">
    <p class="m-0 p-0">{{ copyright }}</p>
  </div>
</ion-content>
