
#signup-section {
    color: rgba($color: #000000, $alpha: 0.8) !important;

    #col-signup {
        z-index: 1;
        padding: 0;
    }

    #col-form {
        background: #fff url("../../../../assets/images/login/bg-login.svg") no-repeat left bottom;
        padding-left: 4%;
        padding-right: 4%;

        #copyright-signup {
            font-size: small;
            text-align: justify;

            p {
                font-size: smaller;
            }
        }
    }
}

.hd-login {
    height: 100vh;
}

.img-logo {
    height: 70%;
    position: fixed;
    right: -15%;
    top: 15%;
    z-index: 0;
}
