<div class="p-0 m-0 font-regular">
  <form (submit)="emitPasswordValidation()" class="was-validated text-start form-floating-smi">
    <div class="form-floating mt-0">
      <input type="password" class="form-control" id="password" minlength="8" maxlength="20" placeholder="Digite sua senha" required>
      <label for="password"> <i class="bi bi-lock-fill mx-1"></i> Sua senha</label>
    </div>

    <div class="form-floating mt-3">
      <input type="password" class="form-control" id="assert-password" minlength="8" maxlength="20" placeholder="Confirme sua senha" required>
      <label for="assert-password"> <i class="bi bi-lock-fill me-1 ms-1"></i> Confirme sua senha</label>
    </div>

    <div class="mt-3">
      <button type="submit" class="rounded bg-btn-green w-100 text-center py-2 px-2"> CADASTRAR </button>
    </div>
  </form>
</div>
