<!-- No seu componente TypeScript correspondente, você pode definir copyright como uma propriedade -->
<!-- public copyright: string = constants.copyright; -->

<ion-content class="bg-green hd-login">
  <ion-grid class="h-100">
    <ion-row class="align-items-center">
      <ion-col size="12" size-md="3" size-xxl="4"></ion-col>

      <ion-col id="recover-password-col" size="12" size-md="6" size-xxl="4">
        <ion-card id="col-form" class="text-center py-4">
          <ion-card-content>

            <!-- Use o componente do Ionic para exibir o logotipo (substitua pelo seu componente real) -->
            <!-- <logo-pmam-login></logo-pmam-login> -->

            <h3 class="ion-text-uppercase fw-bold mt-2 mb-0 pb-0">Recuperar Senha</h3>

            <form [formGroup]="emailForm" class="ion-text-left form-floating-smi font-regular">
              <ion-item class="mt-3">
                <ion-label position="stacked">Digite seu e-mail cadastrado</ion-label>
                <ion-input formControlName="email" type="email" minlength="7" maxlength="50" required></ion-input>
              </ion-item>

              <ion-button expand="full" class="bg-btn-green rounded mt-3" type="submit">Recuperar Senha</ion-button>
            </form>

            <div id="copyright-signup" class="font-regular pb-3 pt-3">
              <p class="m-0 p-0">{{ copyright }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="3" size-xxl="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

