<section id="recover-password-section" class="bg-green hd-login">
  <img class="img-logo" src="../../../../assets/images/login/logo-branca2.png" alt="Brasão PMAM">

  <div class="row h-100 w-100 p-0 m-0 align-items-center">
    <div class="col-12 col-md-3 col-xxl-4 m-0 p-0"></div>

    <div id="recover-password-col" class="col-12 col-md-6 col-xxl-4">
      <div id="col-form" class="text-center py-4">

        <logo-pmam-login></logo-pmam-login>

        <h3 class="fw-bold mt-2 mb-0 pb-0">Recuperar Senha</h3>

        <form [formGroup]="emailForm" class="was-validated text-start form-floating-smi font-regular">
          <div class="form-floating mt-3">
            <input formControlName="email" type="email" class="form-control" id="email" minlength="7" maxlength="50" placeholder="Digite seu e-mail cadastrado" required>
            <label for="email"> <i class="bi bi-envelope-fill me-1 ms-1"></i> Digite seu e-mail cadastrado</label>
          </div>

          <button type="submit" class="bg-btn-green rounded mt-3 w-100 py-2 px-2">RECUPERAR SENHA</button>
        </form>

        <div id="copyright-signup" class="font-regular pb-3 pt-3">
          <p class="m-0 p-0"> {{copyright}} </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 col-xxl-4 m-0 p-0"></div>
  </div>
</section>
