/* Estilo para a classe .img-logo */
.img-logo {
  height: 70%;
  position: fixed;
  right: -15%;
  top: 15%;
  z-index: 0;
}

/* Estilo para a seção com id #recover-password-section */
#recover-password-section {
  color: rgba($color: #000000, $alpha: 0.8) !important;

  /* Estilo para a coluna com id #recover-password-col dentro de #recover-password-section */
  #recover-password-col {
      z-index: 1;
      padding: 0;
  }

  /* Estilo para a coluna com id #col-form dentro de #recover-password-section */
  #col-form {
      /* Adiciona uma imagem de fundo à coluna com um deslocamento específico */
      background: #fff url("../../../../assets/images/login/bg-login.svg") no-repeat left bottom;
      padding-left: 4%;
      padding-right: 4%;

      /* Estilo para a seção com id #copyright-signup dentro de #col-form */
      #copyright-signup {
          font-size: small;
          text-align: justify;

          /* Estilo para os parágrafos dentro da seção #copyright-signup */
          p {
              font-size: smaller;
          }
      }
  }
}

/* Estilo aplicado quando a classe .hd-login está presente */
.hd-login {
  height: 100vh;
}
